@model IEnumerable<LoginRegistrationDemo.Models.ApprovedStudent>

@{
    ViewBag.Title = "approvedrequest";
    Layout = "~/Views/Shared/_MessStaff.cshtml";
}

<h2>approvedrequest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HostelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HostelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
